<section class="container-static">
  <section class="card-container">
    <div class="card-header-name">
      <h1>Transaction Logs</h1>
    </div>
  
    <div class="card-container-table">
      <% if @transactions.empty? %>
      <h1>No Transactions yet</h1>
      <% else %>
      <%# data headers %>
      <div class="card-item headers logs">
        <h5 class="default">Date</h5>
        <h5 class="default">User</h5>
        <h5 class="default">Log Message</h5>
      </div>

      <% @transactions.each do |transaction| %>
      <div class="card-item logs">
      <h5 class="default"><%= transaction.transaction_date %></h5>
      <h5 class="default"><%= transaction.user.email %></h5>
      <h5 class="default"><%= transaction_logs_parser(transaction) %></h5>
      </div>
      <% end %>
      <% end %>
    </div>
  </section>
</section>
