<section class="container-static">
  <section class="card-container">
    <div class="card-header-name">
      <h1>Transaction Logs</h1>
    </div>
  
    <div class="card-container-table">
      <%# data headers %>
      <div class="card-item headers logs">
        <h5 class="default">Date</h5>
        <h5 class="default">Transaction Message</h5>
      </div>

    <% 10.times do %>
      <div class="card-item logs">
      <h5 class="default">June 32, 1231</h5>
      <h5 class="default">Hello World 1 123kljlkj 1l2k3jl1k2j3 l1k2j3 l1k2j3l12k 3j1lk23jl12 k3j1l2k jl</h5>
      </div>
    <% end %>
    </div>
  </section>
</section>
